:root {
  --color-primary: #83af7a;
  --color-secondary: #dbedd7;
  --color-gray: #ccc;
  --color-gray-dark: #777;
  --color-black: #2a2a2a;
  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --radius: 4px; }

html {
  height: 100vh; }

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #444;
  overscroll-behavior-y: contain; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

*:after, *:before, * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: none; }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  *::-webkit-scrollbar {
    display: none; }

a:link,
a:visited {
  color: var(--color-tertiary); }

p {
  font-preset: paragraphs;padding-bottom: 2px;padding-top: 6px;line-height: 24px;font-size: 16px;font-weight: 300;font-family: Inter var; }

#__bs_notify__ {
  display: none; }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2"); }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2"); }

.back-button {
  position: relative;
  width: 40px;
  margin-right: 28px; }
  .back-button prayer-icon {
    top: 1px;
    position: absolute;
    height: 16px;
    width: 26px; }

.button {
  border-radius: 10px;
  background: var(--color-primary);
  cursor: pointer;
  font-preset: button;padding-bottom: 9px;padding-top: 7px;line-height: 24px;letter-spacing: 1px;font-size: 14px;font-weight: 570;font-family: Inter var;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: var(--color-black);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0; }
  .button prayer-icon {
    margin-top: 2px;
    max-height: 5px; }

.field {
  margin-bottom: 16px; }
  .field label {
    display: block;
    width: 100%;
    font-preset: menu;padding-bottom: 4px;padding-top: 4px;line-height: 16px;text-transform: uppercase;letter-spacing: .5px;font-size: 11px;font-weight: 670;font-family: Inter var;
    margin-bottom: 8px; }
  .field .field-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .field .field-inner .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--color-secondary);
  padding-left: 32px;
  padding-bottom: 8px; }
  .indicator .indicator-item {
    height: 4px;
    margin-bottom: 4px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin-right: 8px;
    background: var(--color-gray); }
    .indicator .indicator-item.active {
      background: var(--color-primary); }

.item-list {
  margin-bottom: 32px; }
  .item-list .item {
    background: var(--color-secondary);
    margin-bottom: 8px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity var(--speed) var(--easing), -webkit-filter var(--speed) var(--easing);
    transition: opacity var(--speed) var(--easing), -webkit-filter var(--speed) var(--easing);
    -o-transition: opacity var(--speed) var(--easing), filter var(--speed) var(--easing);
    transition: opacity var(--speed) var(--easing), filter var(--speed) var(--easing);
    transition: opacity var(--speed) var(--easing), filter var(--speed) var(--easing), -webkit-filter var(--speed) var(--easing);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .item-list .item .title {
      font-preset: title;padding-bottom: 16px;padding-top: 8px;line-height: 24px;text-transform: uppercase;letter-spacing: .7px;font-size: 11px;font-weight: 670;font-family: Inter var;
      -webkit-transition: opacity var(--speed) var(--easing);
      -o-transition: opacity var(--speed) var(--easing);
      transition: opacity var(--speed) var(--easing); }
    .item-list .item label {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      word-break: break-word;
      margin-top: 8px;
      margin-bottom: 8px; }
    .item-list .item prayer-icon {
      margin-top: 8px;
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-2px);
      -webkit-transition: opacity var(--speed) var(--easing);
      -o-transition: opacity var(--speed) var(--easing);
      transition: opacity var(--speed) var(--easing); }
    .item-list .item *:last-child {
      margin-left: auto; }
    .item-list .item:not(.enabled) {
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
      .item-list .item:not(.enabled) .title,
      .item-list .item:not(.enabled) prayer-icon {
        opacity: .4; }

.moment.card {
  height: 100%;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60vw;
  flex: 0 0 60vw;
  margin-left: 32px;
  border-radius: 8px;
  position: relative;
  overflow: hidden; }
  .moment.card .image {
    width: 100%;
    height: calc(100% - 40px);
    background-size: cover;
    background-position: center; }
  .moment.card .title {
    background: var(--color-secondary);
    position: absolute;
    font-preset: title;padding-bottom: 8px;padding-top: 8px;line-height: 24px;text-transform: uppercase;letter-spacing: .7px;font-size: 11px;font-weight: 670;font-family: Inter var;
    bottom: 0;
    padding-left: 16px;
    width: 100%; }
  .moment.card .button {
    position: absolute;
    bottom: 56px;
    left: 16px; }

.page-title {
  font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var;
  margin-bottom: 24px; }

prayer-app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  prayer-app > .page {
    overflow-y: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 32px;
    -webkit-transition: all 0.2s var(--easing);
    -o-transition: all 0.2s var(--easing);
    transition: all 0.2s var(--easing); }
    prayer-app > .page > .end {
      border-bottom: 80px solid transparent; }
    prayer-app > .page.hidden {
      opacity: 0;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      pointer-events: none; }
  prayer-app:before {background-image:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjgwIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgODAgMzIiPjxyZWN0IHdpZHRoPSI0MCIgaGVpZ2h0PSIxIiB4PSIwIiB5PSIwIiBmaWxsPSJibGFjayIvPjxyZWN0IHdpZHRoPSI0MCIgaGVpZ2h0PSIxIiB4PSI0MCIgeT0iMCIgZmlsbD0icmVkIi8+PHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjEiIHg9IjAiIHk9IjgiIGZpbGw9ImdyZWVuIi8+PHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjEiIHg9IjQwIiB5PSI4IiBmaWxsPSJibHVlIi8+PHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjEiIHg9IjAiIHk9IjE2IiBmaWxsPSJncmVlbiIvPjxyZWN0IHdpZHRoPSI0MCIgaGVpZ2h0PSIxIiB4PSI0MCIgeT0iMTYiIGZpbGw9ImJsdWUiLz48cmVjdCB3aWR0aD0iNDAiIGhlaWdodD0iMSIgeD0iMCIgeT0iMjQiIGZpbGw9ImdyZWVuIi8+PHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjEiIHg9IjQwIiB5PSIyNCIgZmlsbD0iYmx1ZSIvPjwvc3ZnPg==");
    opacity: 0;
    z-index: 100;
    position: absolute;
    content: '';
    top: 0;
    min-height: 100vh;
    left: 50%;
    -webkit-transition: opacity var(--speed) var(--easing);
    -o-transition: opacity var(--speed) var(--easing);
    transition: opacity var(--speed) var(--easing);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    height: 100%;
    width: 100%; }
  prayer-app[data-grid-enabled="true"]:before {
    opacity: 1; }

prayer-create-free-category {
  padding: 32px; }
  prayer-create-free-category h2 {
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var;
    margin-bottom: 24px; }

prayer-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 32px 32px 0 32px; }
  prayer-home > .prefix {
    font-preset: header2;padding-bottom: 7px;padding-top: 9px;line-height: 16px;letter-spacing: -0.5px;font-size: 20px;font-weight: 570;font-family: Inter var;
    display: block;
    margin-bottom: 8px; }
  prayer-home > .title {
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var;
    margin-bottom: 40px; }
  prayer-home .slider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100vh - 400px);
    flex: 0 0 calc(100vh - 400px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 -32px;
    scrollbar-width: none;
    min-height: 200px;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: repeat(60vw);
    scroll-snap-points-x: repeat(60vw);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 32px; }
    prayer-home .slider .end {
      margin-left: 32px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 1px;
      flex: 0 0 1px; }
  prayer-home .moment.card {
    scroll-snap-align: start; }

prayer-icon {
  display: inline-block;
  max-width: 40px; }
  prayer-icon svg {
    width: 100%;
    height: 100%; }

prayer-main-menu.page {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  prayer-main-menu.page .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--color-secondary);
    text-decoration: none;
    padding: 8px 32px;
    border-bottom: 1px dashed var(--color-primary); }
    prayer-main-menu.page .menu-item prayer-icon {
      margin-right: 16px; }
    prayer-main-menu.page .menu-item .title {
      font-preset: header2;padding-bottom: 7px;padding-top: 9px;line-height: 16px;letter-spacing: -0.5px;font-size: 20px;font-weight: 570;font-family: Inter var; }
    prayer-main-menu.page .menu-item:hover {
      background: var(--color-primary);
      color: white; }
      prayer-main-menu.page .menu-item:hover prayer-icon * {
        fill: white; }

prayer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  background: var(--color-secondary);
  padding-bottom: 16px; }
  prayer-menu .menu-item {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin-top: -16px;
    color: var(--color-gray-dark); }
    prayer-menu .menu-item .title {
      font-preset: menu;padding-bottom: 4px;padding-top: 12px;line-height: 16px;text-transform: uppercase;letter-spacing: .5px;font-size: 11px;font-weight: 670;font-family: Inter var;
      margin-left: -30px;
      margin-right: -30px;
      -webkit-transition: all var(--speed) var(--easing);
      -o-transition: all var(--speed) var(--easing);
      transition: all var(--speed) var(--easing); }
    prayer-menu .menu-item:after {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: var(--color-gray);
      display: block;
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 28.8px;
      -webkit-transition: all var(--speed) var(--easing);
      -o-transition: all var(--speed) var(--easing);
      transition: all var(--speed) var(--easing); }
    prayer-menu .menu-item prayer-icon {
      width: 36px;
      height: 40px;
      display: block;
      opacity: .7;
      -webkit-transition: all var(--speed) var(--easing);
      -o-transition: all var(--speed) var(--easing);
      transition: all var(--speed) var(--easing); }
    prayer-menu .menu-item:hover, prayer-menu .menu-item.active {
      color: var(--color-black); }
      prayer-menu .menu-item:hover prayer-icon, prayer-menu .menu-item.active prayer-icon {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 1; }
      prayer-menu .menu-item:hover:after, prayer-menu .menu-item.active:after {
        width: 66px;
        height: 66px;
        background: var(--color-primary); }

prayer-moment-configure {
  padding: 32px; }
  prayer-moment-configure h2 {
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var;
    margin-bottom: 24px; }
  prayer-moment-configure prayer-icon[name="handle"] {
    margin-right: 10px;
    pointer-events: none; }

prayer-pray.page {
  padding: 0;
  height: 100vh;
  overflow: hidden; }

prayer-pray .close-prayers {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 4; }

prayer-pray .moment {
  display: block;
  color: var(--color-primary);
  background: var(--color-secondary);
  font-preset: button;padding-right: 32px;padding-left: 32px;padding-bottom: 9px;padding-top: 15px;line-height: 24px;letter-spacing: 1px;font-size: 14px;font-weight: 570;font-family: Inter var; }

prayer-pray .prayer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100vw;
  flex: 0 0 100vw;
  height: calc(100vh - 64px);
  overflow-y: auto;
  scroll-snap-align: start;
  margin-bottom: 48px;
  scrollbar-width: none; }
  prayer-pray .prayer .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--color-secondary);
    padding: 0 32px 16px; }
  prayer-pray .prayer .inner {
    padding: 0 32px; }
  prayer-pray .prayer prayer-icon {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    width: 20px;
    margin-right: 4px;
    margin-bottom: -8px; }
    prayer-pray .prayer prayer-icon * {
      fill: var(--color-primary); }
  prayer-pray .prayer .category {
    color: var(--color-primary);
    font-preset: button;padding-bottom: 1px;padding-top: 7px;line-height: 24px;letter-spacing: 1px;font-size: 14px;font-weight: 570;font-family: Inter var;
    margin-right: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  prayer-pray .prayer .title {
    clear: both;
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var; }
  prayer-pray .prayer .author {
    display: block;
    font-preset: author;padding-bottom: 4px;padding-top: 4px;line-height: 16px;text-transform: uppercase;letter-spacing: .5px;font-size: 11px;font-weight: 670;font-family: Inter var;
    color: var(--color-primary); }
  prayer-pray .prayer .amen {
    display: block;
    font-preset: author;padding-bottom: 28px;padding-top: 4px;line-height: 16px;text-transform: uppercase;letter-spacing: .5px;font-size: 11px;font-weight: 670;font-family: Inter var; }

prayer-pray .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(100vw);
  scroll-snap-points-x: repeat(100vw);
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory; }

prayer-settings {
  padding: 32px; }
  prayer-settings h2 {
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var;
    margin-bottom: 24px; }

select {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 0;
  background: var(--color-secondary);
  font-preset: select;padding-bottom: 8px;padding-top: 8px;line-height: 24px;text-transform: uppercase;letter-spacing: 1px;font-size: 12px;font-weight: 670;font-family: Inter var;
  padding-left: 8px;
  padding-right: 24px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 16px top 50%;
  background-size: .65em auto, 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  select:-moz-focusring {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 var(--color-black); }
  select:focus {
    outline: none; }

.sortable > * {
  cursor: move; }
  .sortable > *.active {
    background: var(--color-primary); }
  .sortable > *.dragging {
    background: #e0ffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.5; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  position: relative;
  padding-left: 50px; }
  input[type="checkbox"] + label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    cursor: pointer;
    width: 40px;
    border-radius: 15px;
    height: 16px;
    content: '';
    margin-right: 10px;
    background: lightgray;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  input[type="checkbox"] + label:after {
    cursor: pointer;
    -webkit-transition: background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    transition: background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    -o-transition: transform var(--speed) var(--easing), background var(--speed) var(--easing);
    transition: transform var(--speed) var(--easing), background var(--speed) var(--easing);
    transition: transform var(--speed) var(--easing), background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: darkgray;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(20px, -50%);
  -ms-transform: translate(20px, -50%);
  transform: translate(20px, -50%);
  background: var(--color-primary); }

.scripture-styles {
  /* HTML5 display-role reset for older browsers */
  color: #111111;
  -webkit-font-smoothing: antialiased; }
  .scripture-styles html,
  .scripture-styles body,
  .scripture-styles div,
  .scripture-styles span,
  .scripture-styles applet,
  .scripture-styles object,
  .scripture-styles iframe,
  .scripture-styles h1,
  .scripture-styles h2,
  .scripture-styles h3,
  .scripture-styles h4,
  .scripture-styles h5,
  .scripture-styles h6,
  .scripture-styles p,
  .scripture-styles blockquote,
  .scripture-styles pre,
  .scripture-styles a,
  .scripture-styles abbr,
  .scripture-styles acronym,
  .scripture-styles address,
  .scripture-styles big,
  .scripture-styles cite,
  .scripture-styles code,
  .scripture-styles del,
  .scripture-styles dfn,
  .scripture-styles em,
  .scripture-styles img,
  .scripture-styles ins,
  .scripture-styles kbd,
  .scripture-styles q,
  .scripture-styles s,
  .scripture-styles samp,
  .scripture-styles small,
  .scripture-styles strike,
  .scripture-styles strong,
  .scripture-styles sub,
  .scripture-styles sup,
  .scripture-styles tt,
  .scripture-styles var,
  .scripture-styles b,
  .scripture-styles u,
  .scripture-styles i,
  .scripture-styles center,
  .scripture-styles dl,
  .scripture-styles dt,
  .scripture-styles dd,
  .scripture-styles ol,
  .scripture-styles ul,
  .scripture-styles li,
  .scripture-styles fieldset,
  .scripture-styles form,
  .scripture-styles label,
  .scripture-styles legend,
  .scripture-styles table,
  .scripture-styles caption,
  .scripture-styles tbody,
  .scripture-styles tfoot,
  .scripture-styles thead,
  .scripture-styles tr,
  .scripture-styles th,
  .scripture-styles td,
  .scripture-styles article,
  .scripture-styles aside,
  .scripture-styles canvas,
  .scripture-styles details,
  .scripture-styles embed,
  .scripture-styles figure,
  .scripture-styles figcaption,
  .scripture-styles footer,
  .scripture-styles header,
  .scripture-styles hgroup,
  .scripture-styles menu,
  .scripture-styles nav,
  .scripture-styles output,
  .scripture-styles ruby,
  .scripture-styles section,
  .scripture-styles summary,
  .scripture-styles time,
  .scripture-styles mark,
  .scripture-styles audio,
  .scripture-styles video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: baseline; }
  .scripture-styles article,
  .scripture-styles aside,
  .scripture-styles details,
  .scripture-styles figcaption,
  .scripture-styles figure,
  .scripture-styles footer,
  .scripture-styles header,
  .scripture-styles hgroup,
  .scripture-styles menu,
  .scripture-styles nav,
  .scripture-styles section {
    display: block; }
  .scripture-styles ol,
  .scripture-styles ul {
    list-style: none; }
  .scripture-styles blockquote,
  .scripture-styles q {
    quotes: none; }
  .scripture-styles blockquote:before,
  .scripture-styles blockquote:after,
  .scripture-styles q:before,
  .scripture-styles q:after {
    content: "";
    content: none; }
  .scripture-styles table {
    border-collapse: collapse;
    border-spacing: 0; }

.scripture-styles .c {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em; }

.scripture-styles .ca {
  font-style: italic;
  font-weight: normal;
  color: #777777; }
  .scripture-styles .ca:before {
    content: "("; }
  .scripture-styles .ca:after {
    content: ")" !important; }

.scripture-styles .cl {
  text-align: center;
  font-weight: bold; }

.scripture-styles .cd {
  font-style: italic; }

.scripture-styles .v,
.scripture-styles .vp,
.scripture-styles sup[class^="v"] {
  color: black;
  font-size: 0.7em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold;
  top: inherit; }
  .scripture-styles .v:after,
  .scripture-styles .vp:after,
  .scripture-styles sup[class^="v"]:after {
    content: "\a0"; }

.scripture-styles sup + sup:before {
  content: "\a0"; }

.scripture-styles .va {
  font-style: italic; }
  .scripture-styles .va:before {
    content: "("; }
  .scripture-styles .va:after {
    content: ")" !important; }

.scripture-styles .x {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: 0 0.4em;
  margin: 0 0.1em;
  text-indent: 0;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdcdc; }

.scripture-styles .xo {
  font-weight: bold; }

.scripture-styles .xk {
  font-style: italic; }

.scripture-styles .xq {
  font-style: italic; }

.scripture-styles .notelink {
  text-decoration: underline;
  padding: 0.1em; }
  .scripture-styles .notelink, .scripture-styles .notelink:hover, .scripture-styles .notelink:active, .scripture-styles .notelink:visited {
    color: #6a6a6a; }
  .scripture-styles .notelink sup {
    font-size: 0.7em;
    letter-spacing: -0.03em;
    vertical-align: 0.25em;
    line-height: 0;
    font-family: sans-serif;
    font-weight: bold; }
  .scripture-styles .notelink + sup:before {
    content: "\a0"; }

.scripture-styles .f {
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.4em;
  margin: 0 0.1em;
  text-indent: 0;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdcdc; }

.scripture-styles .fr {
  font-weight: bold; }

.scripture-styles .fk {
  font-style: italic;
  font-variant: small-caps; }

.scripture-styles [class^="fq"] {
  font-style: italic; }

.scripture-styles .fl {
  font-style: italic;
  font-weight: bold; }

.scripture-styles .fv {
  color: #515151;
  font-size: 0.75em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold; }
  .scripture-styles .fv:after {
    content: "\a0"; }

.scripture-styles .h {
  text-align: center;
  font-style: italic; }

.scripture-styles [class^="imt"],
.scripture-styles [class^="is"] {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0; }

.scripture-styles [class^="ip"] {
  text-indent: 1em; }

.scripture-styles .ipi {
  padding-left: 1em;
  padding-right: 1em; }

.scripture-styles .im {
  text-indent: 0; }

.scripture-styles .imi {
  text-indent: 0; }

.scripture-styles .ipq {
  font-style: italic; }

.scripture-styles .ipr {
  text-align: right;
  text-indent: 0; }

.scripture-styles .iq2 {
  text-indent: 1em; }

.scripture-styles [class^="ili"] {
  padding-left: 1em;
  text-indent: -1em; }

.scripture-styles .iot {
  font-weight: bold;
  font-size: 18px;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0px; }

.scripture-styles .ior {
  font-style: italic; }

.scripture-styles .iex {
  text-indent: 1em; }

.scripture-styles .iqt {
  text-indent: 1em;
  font-style: italic; }

.scripture-styles [class^="p"] {
  text-indent: 1em; }

.scripture-styles .m {
  text-indent: 0 !important; }

.scripture-styles .pmo {
  text-indent: 0; }

.scripture-styles .pmr {
  text-align: right; }

.scripture-styles .mi {
  text-indent: 0; }

.scripture-styles .pc {
  text-align: center;
  text-indent: 0; }

.scripture-styles .cls {
  text-align: right; }

.scripture-styles [class^="li"] {
  padding-left: 1em;
  text-indent: -1em; }

.scripture-styles .b {
  height: 0; }

.scripture-styles [class^="q"] {
  padding-left: 1em;
  text-indent: -1em; }

.scripture-styles .qr {
  text-align: right;
  font-style: italic; }

.scripture-styles .qc {
  text-align: center; }

.scripture-styles .qs {
  font-style: italic;
  text-align: right; }

.scripture-styles .qa {
  text-align: center;
  font-style: italic;
  font-size: 1.1em; }

.scripture-styles .qac {
  padding: 0;
  text-indent: 0;
  font-style: italic; }

.scripture-styles .qt {
  font-style: italic;
  text-indent: 0;
  padding: 0;
  margin: 0; }

.scripture-styles .bk {
  font-style: italic; }

.scripture-styles .nd {
  font-variant: small-caps; }

.scripture-styles .add {
  font-style: italic; }

.scripture-styles .dc {
  font-style: italic; }

.scripture-styles .k {
  font-weight: bold;
  font-style: italic; }

.scripture-styles .lit {
  text-align: right;
  font-weight: bold; }

.scripture-styles .pn {
  font-weight: bold;
  text-decoration: underline; }

.scripture-styles .sls {
  font-style: italic; }

.scripture-styles .tl {
  font-style: italic; }

.scripture-styles .wj {
  color: #cc0000; }

.scripture-styles .em {
  font-style: italic; }

.scripture-styles .bd {
  font-weight: bold; }

.scripture-styles .it {
  font-style: italic; }

.scripture-styles .bdit {
  font-weight: bold;
  font-style: italic; }

.scripture-styles .no {
  font-weight: normal;
  font-style: normal; }

.scripture-styles .sc {
  font-variant: small-caps; }

.scripture-styles .qt {
  font-style: italic; }

.scripture-styles .sig {
  font-weight: normal;
  font-style: italic; }

.scripture-styles table {
  width: 100%;
  display: table; }

.scripture-styles .tr {
  display: table-row; }

.scripture-styles [class^="th"] {
  font-style: italic;
  display: table-cell; }

.scripture-styles [class^="thr"] {
  text-align: right;
  padding: 0 0; }

.scripture-styles [class^="tc"] {
  display: table-cell; }

.scripture-styles [class^="tcr"] {
  text-align: right;
  padding: 0 0; }

.scripture-styles [class^="mt"] {
  font-weight: bold;
  letter-spacing: normal; }

.scripture-styles .mt,
.scripture-styles .mt1,
.scripture-styles .mt2 {
  font-size: 40px;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0; }

.scripture-styles .mt2 {
  font-size: 34px;
  margin-top: 0;
  font-style: italic;
  font-weight: normal; }

.scripture-styles [class^="ms"],
.scripture-styles .ms,
.scripture-styles .ms1,
.scripture-styles .ms2,
.scripture-styles .ms3 {
  font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 670;font-family: Inter var; }

.scripture-styles .mr {
  font-size: 0.9em;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic; }

.scripture-styles .s,
.scripture-styles .s1,
.scripture-styles .s2,
.scripture-styles .s3,
.scripture-styles .s4 {
  font-weight: bold;
  font-size: 27px;
  line-height: 0;
  margin-bottom: 0;
  margin-top: 0px; }

.scripture-styles .sr {
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
  letter-spacing: normal; }

.scripture-styles .r {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: normal; }

.scripture-styles .rq {
  font-size: inherit;
  line-height: 0;
  font-style: italic;
  text-align: right;
  letter-spacing: normal; }

.scripture-styles .d {
  font-style: italic;
  font-size: inherit;
  letter-spacing: normal; }

.scripture-styles .sp {
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
  letter-spacing: normal; }
