:root {
  --color-primary: #4f8543;
  --color-secondary: #e1f4fc;
  --color-tertiary: #0b2e50;
  --color-gray: #aaa;
  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --radius: 4px; }

html {
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Inter var'; }

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  color: #444; }

*:after, *:before, * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  line-height: 2.1;
  letter-spacing: 2px; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

a:link,
a:visited {
  color: var(--color-tertiary); }

#__bs_notify__ {
  display: none; }

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2"); }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2"); }

.button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  cursor: pointer; }
  .button.small {
    font-size: 13px;
    padding: 0 8px; }
  .button.active {
    background: black;
    color: white; }

.field {
  margin-top: 20px;
  margin-bottom: 30px; }
  .field label {
    display: block;
    width: 100%; }

prayer-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  prayer-app > .page {
    padding: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto; }

prayer-icon {
  display: inline-block;
  max-width: 40px; }

prayer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  background: white;
  padding: 20px;
  border-top: 1px solid black; }

prayer-moment-configure .prayer-category {
  -webkit-transition: -webkit-filter var(--speed) var(--easing);
  transition: -webkit-filter var(--speed) var(--easing);
  -o-transition: filter var(--speed) var(--easing);
  transition: filter var(--speed) var(--easing);
  transition: filter var(--speed) var(--easing), -webkit-filter var(--speed) var(--easing); }
  prayer-moment-configure .prayer-category:not(.enabled) {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  prayer-moment-configure .prayer-category.enabled {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

prayer-pray .prayer {
  margin-bottom: 40px; }
  prayer-pray .prayer .category {
    opacity: .5;
    letter-spacing: 2px;
    text-transform: uppercase; }
  prayer-pray .prayer .title {
    margin-top: 0;
    line-height: 1.5; }
  prayer-pray .prayer .author {
    display: block;
    margin-top: 30px;
    width: 100%;
    text-align: right; }
  prayer-pray .prayer .amen {
    display: block;
    font-style: italic;
    font-weight: 180;
    margin-top: 20px; }

prayer-settings .moment {
  padding: 10px 0;
  -webkit-transition: -webkit-filter var(--speed) var(--easing);
  transition: -webkit-filter var(--speed) var(--easing);
  -o-transition: filter var(--speed) var(--easing);
  transition: filter var(--speed) var(--easing);
  transition: filter var(--speed) var(--easing), -webkit-filter var(--speed) var(--easing); }
  prayer-settings .moment:not(.enabled) {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  prayer-settings .moment label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.sortable {
  margin-top: 30px; }
  .sortable > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 3px;
    padding: 10px;
    border-radius: 4px;
    cursor: move;
    background: #fff;
    border: 1px solid lightgrey; }
    .sortable > * .button {
      margin-left: auto; }
    .sortable > *:hover {
      background: #ffffe0; }
    .sortable > *.active {
      background: #ccc; }
    .sortable > *.dragging {
      background: #e0ffff;
      -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      opacity: 0.5; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  position: relative;
  padding-left: 50px; }
  input[type="checkbox"] + label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    cursor: pointer;
    width: 40px;
    border-radius: 15px;
    height: 16px;
    content: '';
    margin-right: 10px;
    background: lightgray;
    -webkit-box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  input[type="checkbox"] + label:after {
    cursor: pointer;
    -webkit-transition: background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    transition: background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    -o-transition: transform var(--speed) var(--easing), background var(--speed) var(--easing);
    transition: transform var(--speed) var(--easing), background var(--speed) var(--easing);
    transition: transform var(--speed) var(--easing), background var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    background: darkgray;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(20px, -50%);
  -ms-transform: translate(20px, -50%);
  transform: translate(20px, -50%);
  background: var(--color-primary); }
