:root {
  --color-primary: #83af7a;
  --color-secondary: #{lighten(#BCDDB4, 10)};
  --color-gray: #ccc;
  --color-gray-dark: #777;
  --color-black: #2a2a2a;

  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --radius: 4px;
}
