$tablet: 700px;

:root {
  --color-primary: #83af7a;
  --color-secondary: #{lighten(#BCDDB4, 10)};
  --color-danger: #dd5b3f;
  --color-note: #f3f4ab;
  --color-gray: #ccc;
  --color-gray-light: #f7f7f7;
  --color-gray-dark: #777;
  --color-black: #525252;

  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --border-radius: 8px;
  --max-width-panel: 2000px;
  --selected-row: 0;
}

@include tablet {
    :root {
      --max-width-panel: 500px;
    }
}