:root {
  --color-primary: #83af7a;
  --color-secondary: #dbedd7;
  --color-danger: #dd5b3f;
  --color-note: #f3f4ab;
  --color-gray: #ccc;
  --color-gray-light: #f7f7f7;
  --color-gray-dark: #777;
  --color-black: #525252;
  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --border-radius: 8px;
  --max-width-panel: 2000px;
  --selected-row: 0; }

@media all and (min-width: 700px) {
  :root {
    --max-width-panel: 500px; } }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  color: var(--color-black);
  overscroll-behavior-y: contain; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

*:after, *:before, * {
  box-sizing: border-box; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: none; }

* {
  -webkit-tap-highlight-color: transparent; }
  *:not(input):not(textarea) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  *::-webkit-scrollbar {
    display: none; }

a:link:not(.button),
a:visited:not(.button) {
  color: var(--color-tertiary); }

p {
  font-preset: paragraphs;padding-bottom: 2px;padding-top: 6px;line-height: 24px;font-size: 16px;font-weight: 300;font-family: Inter var; }

#__bs_notify__ {
  display: none !important; }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2"); }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2"); }

prayer-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: var(--color-secondary);
  padding-bottom: 16px;
  transition: opacity var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
  transition: transform var(--speed) var(--easing), opacity var(--speed) var(--easing);
  transition: transform var(--speed) var(--easing), opacity var(--speed) var(--easing), -webkit-transform var(--speed) var(--easing);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.07), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 20; }
  prayer-menu .menu-item {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin-top: -16px;
    color: var(--color-gray-dark); }
    prayer-menu .menu-item .title {
      font-preset: menu;padding-bottom: 4px;padding-top: 12px;line-height: 16px;text-transform: uppercase;letter-spacing: .5px;font-size: 11px;font-weight: 670;font-family: Inter var;
      margin-left: -30px;
      margin-right: -30px;
      transition: all var(--speed) var(--easing); }
    prayer-menu .menu-item:after {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: var(--color-gray);
      display: block;
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 28.8px;
      transition: all var(--speed) var(--easing);
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.07), 0 1px 1px 0 rgba(0, 0, 0, 0.07); }
    prayer-menu .menu-item prayer-icon {
      width: 36px;
      height: 40px;
      display: block;
      opacity: .7;
      transition: all var(--speed) var(--easing); }
    prayer-menu .menu-item:hover, prayer-menu .menu-item.active {
      color: var(--color-black); }
      prayer-menu .menu-item:hover prayer-icon, prayer-menu .menu-item.active prayer-icon {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 1; }
      prayer-menu .menu-item:hover:after, prayer-menu .menu-item.active:after {
        width: 66px;
        height: 66px;
        background: var(--color-primary); }

@media all and (min-width: 700px) {
  prayer-menu {
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-left: 40px; }
    prayer-menu .menu-item {
      margin-right: 64px; } }

.page.hide-menu + prayer-menu,
body.is-sorting prayer-menu,
body.has-focused-input prayer-menu {
  -webkit-transform: translateY(calc(100% + 40px));
  transform: translateY(calc(100% + 40px));
  opacity: 0; }

body.is-sorting {
  overflow: hidden !important; }

prayer-home {
  display: flex;
  flex-direction: column; }
  prayer-home > .prefix {
    font-preset: header2;padding-bottom: 5px;padding-top: 11px;line-height: 16px;letter-spacing: -0.5px;font-size: 15px;font-weight: 570;font-family: Inter var;
    display: block;
    margin-bottom: 8px; }
  prayer-home > .title {
    font-preset: header3;padding-bottom: 7px;padding-top: 9px;line-height: 32px;font-size: 20px;font-weight: 700;font-family: Inter var;
    margin-bottom: 16px; }

@media all and (min-width: 700px) {
  prayer-home .logo-wrapper {
    margin-top: 32px; } }

.moments-slider {
  flex: 0 0 calc(100% - 272px);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 -32px;
  padding-top: 16px;
  padding-bottom: 16px;
  scrollbar-width: none;
  min-height: 250px;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(60vw);
  scroll-snap-points-x: repeat(60vw);
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 32px; }
  .moments-slider .moment {
    scroll-snap-align: start;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.07), 0 1px 1px 0 rgba(0, 0, 0, 0.07); }
  .moments-slider .end {
    margin-left: 32px;
    flex: 0 0 1px; }

.moment.card {
  height: 100%;
  display: block;
  flex: 0 0 60vw;
  margin-left: 32px;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  background: var(--color-gray-light); }
  .moment.card .image {
    width: 100%;
    height: calc(100% - 40px);
    background-size: cover;
    background-position: center; }
  .moment.card .title {
    background: var(--color-secondary);
    position: absolute;
    font-preset: title;padding-bottom: 12px;padding-top: 12px;line-height: 16px;text-transform: uppercase;letter-spacing: .7px;font-size: 11px;font-weight: 670;font-family: Inter var;
    bottom: 0;
    padding-left: 16px;
    width: 100%; }
  .moment.card .button {
    position: absolute;
    bottom: 56px;
    left: 16px;
    color: var(--color-black); }
    .moment.card .button * {
      fill: var(--color-black); }

@media all and (min-width: 700px) {
  .moment.card {
    max-width: 20vw;
    max-height: 60vh; } }
