:root {
  --color-primary: #ffc72d;
  --color-secondary: #e1f4fc;
  --color-tertiary: #0b2e50;
  --color-gray: #aaa;
  --speed: .3s;
  --easing: cubic-bezier(.67,-0.07,.49,.93);
  --padding: 7px;
  --radius: 4px; }

html {
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-secondary);
  font-weight: 700;
  font-family: 'Inter var'; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #444; }

*:after, *:before, * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  line-height: 2.1;
  letter-spacing: 2px; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

a:link,
a:visited {
  color: var(--color-tertiary); }

#__bs_notify__ {
  display: none; }

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2"); }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2"); }

prayer-app {
  display: block;
  height: 100%;
  padding: 20px; }

prayer-background * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity var(--speed) var(--easing);
  -o-transition: opacity var(--speed) var(--easing);
  transition: opacity var(--speed) var(--easing); }
  prayer-background *.hidden {
    opacity: 0; }

prayer-home .prayer-moment {
  display: inline-block;
  position: absolute;
  text-align: center;
  line-height: 0;
  top: 50%; }
  prayer-home .prayer-moment .inner {
    padding: 20px; }
  prayer-home .prayer-moment:after {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    display: block;
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: red;
    z-index: -1; }

prayer-home[data-items="2"] .prayer-moment:nth-of-type(1) {
  top: 30%; }

prayer-home[data-items="2"] .prayer-moment:nth-of-type(2) {
  top: 60%;
  right: 20%; }

.sortable > * {
  display: block;
  margin: 1px;
  padding: 10px;
  border-radius: 4px;
  cursor: move;
  background: #fff; }
  .sortable > *:hover {
    background: #ffffe0; }
  .sortable > *.active {
    background: #ccc; }
  .sortable > *.dragging {
    background: #e0ffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.5; }
