prayer-add-note {
  width: 100%;
}

$note-size: 60%;

.add-note-panel {
  display: flex;
  flex-direction: column;
  height: 50rs;
  overflow: hidden;
  width: calc(100% + 8rs);
  background: var(--color-gray-light);
  transition: all var(--speed) var(--easing);
  transform: translateX(0);
  margin: 0 -4rs;
  padding: 4rs;
  z-index: 1;
  opacity: 1;

  &:after {
    content: '';
  }

  .field {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .field-inner {
      flex: 1 1 auto;
    }

    textarea {
      border-color: var(--color-gray);
      flex: 1 1 auto;
      height: auto;
    }
  }

  &.hidden {
    pointer-events: none;
    height: 0;
    opacity: 0;
    padding: 0 4rs;
  }

  .page-title {
    .close-note-add {
      cursor: pointer;
      margin-top: 1rs;
      float: right;
    }
  }
}

.add-note-button {
  border-radius: 50%;
  background: var(--color-primary);
  width: 6rs;
  height: 6rs;
  left: 100vw;
  transition: all var(--speed) var(--easing);
  display: block;
  position: sticky;
  bottom: 4rs;
  cursor: pointer;
  appearance: none;
  border: 0;
  text-align: center;
  z-index: 4;
  line-height: 6rs;
  box-shadow:
          0 0 1px 0 rgba(0,0,0,0.08),
          0 6px 12px 0 rgba(0,0,0,0.07),
          0 1px 1px 0 rgba(0,0,0,0.07);

  prayer-icon {
    width: 3rs;
    height: 3rs;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    svg * {
      fill: white;
    }
  }

  &.opened {
    transform: translateY(10rs);
  }
}
