.back-button {
  position: relative;
  width: 5rs;

  prayer-icon {
    top: .5rs;
    position: absolute;
    background: var(--color-secondary);
    height: 4rs;
    width: 26px;
    border-radius: var(--border-radius);

    path {
      fill: var(--color-primary);
    }
  }
}