.button {
  border-radius: 10px;
  background: var(--color-primary);
  cursor: pointer;
  font-preset: button;
  padding-left: 2rs;
  padding-right: 2rs;
  padding-bottom: 1rs;
  text-decoration: none;
  color: var(--color-black);
  display: inline-flex;
  border: 0;

  prayer-icon {
    margin-top: 2px;
    max-height: 5px;
  }
}