.button {
  border-radius: 10px;
  background: var(--color-primary);
  cursor: pointer;
  font-preset: button;
  padding-left: 2rs;
  padding-right: 2rs;
  padding-bottom: 1rs;
  text-decoration: none;
  color: var(--color-black);
  display: inline-flex;
  border: 0;

  &.secondary {
    background: var(--color-secondary);
  }

  &.danger {
    background: var(--color-danger);
  }

  prayer-icon {
    margin-top: 2px;
    max-height: 5px;
    margin-right: -5px;
    width: 24px;
    margin-left: 6px;
  }
}