.field {
  margin-bottom: 2rs;

  label {
    display: block;
    width: 100%;
    font-preset: menu;
    margin-bottom: 1rs;
  }

  .field-inner {
    display: flex;

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}