.field {
  margin-bottom: 4rs;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    width: 100%;
    font-preset: menu;
    margin-bottom: 1rs;
  }

  .description {
    font-preset: menu;
    text-transform: none;
    font-style: italic;
    color: #6a6a6a;
  }

  p {
    margin-top: 0;
  }

  textarea,
  input {
    min-width: 40px;
    font-preset: menu;
    text-transform: none;
    cursor: pointer;
    flex: 1 1 auto;
    transition: border var(--speed) var(--easing);
    border: 1px solid var(--color-secondary);
    padding: 1rs;
    margin-bottom: -1px;

    &:focus {
      border: 1px solid var(--color-primary);
    }
  }

  .field-inner {
    display: flex;
    flex-wrap: nowrap;

    .button {
      margin-left: 1rs;
      flex: 0 0 auto;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rs;

  .field {
    flex: 0 0 calc(50% - #{1rs});
    margin-bottom: 0;
  }

  .field + .field {
    margin-left: 2rs;
  }

  > .description {
    flex: 0 0 100%;
  }
}