.indicator {
  display: flex;
  background: var(--color-secondary);
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: .5rs;
  margin-top: 1rs;
  padding-right: 6rs;

  .indicator-item {
    height: 1rs;
    border-radius: 4px;
    flex: 0 0 1rs;
    background: var(--color-gray);

    &.active {
      background: var(--color-primary);
    }
  }
}
