.item-list {
  margin-bottom: 4rs;

  .item {
    background: var(--color-secondary);
    margin-bottom: 1rs;
    border-radius: 8px;
    padding-left: 2rs;
    padding-right: 2rs;
    display: flex;
    justify-content: space-between;
    transition: filter var(--speed) var(--easing);

    .title {
      font-preset: title;
      padding-bottom: 1rs;
      transition: opacity var(--speed) var(--easing);
    }

    prayer-icon {
      margin-top: 1rs;
      transition: opacity var(--speed) var(--easing);
    }

    &:not(.enabled) {
      filter: grayscale(1);

      .title,
      prayer-icon {
        opacity: .4;
      }
    }
  }
}