.item-list {
  .item {
    background: var(--color-secondary);
    margin-bottom: 1rs;
    border-radius: var(--border-radius);
    padding-left: 1rs;
    padding-right: 1rs;
    display: flex;
    transition: opacity var(--speed) var(--easing), filter var(--speed) var(--easing);
    align-items: center;

    .title {
      font-preset: title;
      text-transform: none;
      padding-bottom: 1rs;
      transition: opacity var(--speed) var(--easing);
    }

    label {
      flex: 1 1 auto;
      word-break: break-word;
      margin-top: 1rs;
      margin-bottom: 1rs;
      margin-right: 2rs;
    }

    img,
    prayer-icon:not([name="handle"]) {
      margin-top: 1rs;
      transform: translateY(-2px);
    }

    img,
    prayer-icon {
      transition: opacity var(--speed) var(--easing);
    }

    *:last-child {
      margin-left: auto;
    }

    &:not(.enabled) {
      filter: grayscale(1);

      a {
        pointer-events: none;
      }

      .title,
      img,
      prayer-icon {
        opacity: .4;
      }
    }
  }
}