.moment.card {
  height: 100%;
  display: block;
  flex: 0 0 60vw;
  margin-left: 4rs;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  background: var(--color-gray-light);

  .image {
    width: 100%;
    height: calc(100% - 5rs);
    background-size: cover;
    background-position: center;
  }

  .title {
    background: var(--color-secondary);
    position: absolute;
    font-preset: title;
    bottom: 0;
    padding-left: 2rs;
    width: 100%;
    padding-top: 1rs;
    padding-bottom: 1rs;
  }

  .button {
    position: absolute;
    bottom: 7rs;
    left: 2rs;
  }
}

@include tablet {
  .moment.card {
    max-width: 20vw;
    max-height: 60vh;
  }
}