[data-transition="default"] .page {
  &.hidden {
    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
  }
}

[data-transition="open-app"] {
  * {
    transition: none !important;
  }
}

[data-transition="page"] {
  .page-inner {
    opacity: 1;
    transform: translateY(0);
    transition: all var(--speed) var(--easing);
  }

  .page.hidden {
    pointer-events: none;
    opacity: .999;

    .inner-page {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
}

[data-transition="calendar"] {
  prayer-day-overview {
    transition: all var(--speed) var(--easing);
  }

  .page.hidden {
    prayer-day-overview {
      opacity: 0;
    }
  }
}
