prayer-app {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .page {
    overflow-y: auto;
    flex: 0 0 100%;
    padding: 4rs;

    &:not(.no-transition) {
      transition: all var(--speed) var(--easing);
    }

    &.no-transition {
      transition: all 0.001s;
    }

    .end {
      border-bottom: 14rs solid transparent;
    }

  }

  &:before {
    opacity: 0;
    z-index: 100;
    position: absolute;
    content: '';
    top: 0;
    min-height: 100%;
    left: 50%;
    transition: opacity var(--speed) var(--easing);
    transform: translateX(-50%);
    pointer-events: none;
    height: 100%;
    width: 100%;
    vertical-rhythm-grid: black red green blue 40px 4;
  }

  &[data-grid-enabled="true"]:before {
    opacity: 1;
  }
}

@include tablet {
  prayer-app > .page {
    padding: 0 4rs;
  }
}
