prayer-home {
  .prayer-moment {
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 0;
    top: 50%;

    .inner {
      padding: 20px;
    }

    &:after {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, -50%);
      content: '';
      display: block;
      border-radius: 50%;
      width: 100%;
      padding-bottom: 100%;
      background: red;
      z-index: -1;
    }
  }

  &[data-items="2"] {
    .prayer-moment:nth-of-type(1) {
      top: 30%;
    }

    .prayer-moment:nth-of-type(2) {
      top: 60%;
      right: 20%;
    }
  }
}