prayer-pray {
  &.page {
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .pre-header {
    background: var(--color-secondary);
  }

  .moment {
    display: block;
    color: var(--color-primary);
    font-preset: button;
    padding: 1rs 4rs 1rs 4rs;
  }

  .moment-switcher {
    margin: 0 4rs;
    padding-top: 2rs;
    padding-bottom: 2rs;
    padding-left: 0;
    width: auto;
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    flex: 1 1 100%;

    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
  }
}
