prayer-main-menu {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-panel);
  position: relative;
  padding-top: 6rs;

  .logo-wrapper {
    margin-bottom: 5rs;
  }

  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0rs 2rs 0rs 2rs;
    position: relative;
    border-radius: var(--border-radius);
    margin-bottom: 1rs;
    background: var(--color-secondary);
    transition: all var(--speed) var(--easing);

    prayer-icon {
      position: absolute;
      margin-right: 2rs;
      width: 3rs;
      top: 50%;
      transform: translateY(-50%) translateY(1px);

      * {
        transition: all var(--speed) var(--easing);
      }
    }

    .title {
      font-preset: header2;
      margin-left: 4.5rs;
      padding-bottom: 1rs;
    }

    &:last-child {
      margin-bottom: 10rs;
      border-bottom: 0;
    }

    &.active,
    &:hover {
      color: white;
      background: var(--color-primary);

      prayer-icon {
        * {
          fill: white;
        }
      }
    }
  }
}

.page {
  prayer-main-menu {
    display: none;
  }
}

@include tablet {
  prayer-main-menu.page {
    max-width: calc(300px + 8rs);
    padding-top: 4rs;
  }

  .page {
    display: flex;

    prayer-main-menu {
      display: flex;
      flex: 0 0 300px;
      margin-right: 4rs;
      position: sticky;
      padding-top: 4rs;
      top:0;
    }

    .inner-page {
      transition: all var(--speed) var(--easing);
      padding: 2rs 0 4rs 0;

      .end {
        margin-top: 18rs;
      }
    }
  }
}