prayer-app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  > .page {
    overflow-y: auto;
    flex: 1 1 auto;
    padding-bottom: 4rs;

    > .end {
      border-bottom: 10rs solid transparent;
    }
  }

  &:before {
    opacity: 0;
    z-index: 100;
    position: absolute;
    content: '';
    top: 0;
    min-height: 100vh;
    left: 50%;
    transition: opacity var(--speed) var(--easing);
    transform: translateX(-50%);
    pointer-events: none;
    height: 100%;
    width: 100%;
    vertical-rhythm-grid: black red green blue 40px 4;
  }

  &[data-grid-enabled="true"]:before {
    opacity: 1;
  }

}