prayer-app {
  display: flex;
  flex-direction: column;

  > .page {
    padding: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    > *:last-child {
      padding-bottom: 50px;
    }
  }
}