prayer-main-menu.page {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-panel);
  position: relative;
  padding-top: 6rs;

  &:after {
    position: absolute;
    content: '';
    background: var(--color-secondary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  prayer-icon[name="logo"] {
    height: 3rs;
    display: block;
    max-width: 100%;
    width: auto;
    padding-left: 4rs;
    margin-bottom: 5rs;

    svg {
      height: 100%;
      width: auto;

      rect {
        fill: var(--color-black) !important;
      }


    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1rs 4rs 1rs 4rs;
    position: relative;
    border-bottom: 1px dashed var(--color-primary);
    margin-bottom: -1px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-secondary);
      z-index: -1;
    }

    prayer-icon {
      position: absolute;
      margin-right: 2rs;
      width: 4rs;
      top: 50%;
      transform: translateY(-50%) translateY(1px);
    }

    .title {
      font-preset: header2;
      margin-left: 6rs;
      padding-bottom: 1rs;
    }

    &:last-child {
      margin-bottom: 10rs;
      border-bottom: 0;
    }

    &:hover {
      color: white;

      &:not(:last-child) {
        border-bottom: 1px dashed var(--color-secondary);
      }

      &:after {
        background: var(--color-primary);
      }

      prayer-icon {
        * {
          fill: white;
        }
      }
    }
  }
}