prayer-home {
  display: flex;
  flex-direction: column;
  padding: 4rs 4rs 0 4rs;

  > .prefix {
    font-preset: header2;
    display: block;
    margin-bottom: 1rs;
  }

  > .title {
    font-preset: header3;
    margin-bottom: 5rs;
  }
}