prayer-pray {
  &.page {
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .pre-header {
    background: var(--color-secondary);
  }

  .close-prayers {
    position: fixed;
    top: 5rs;
    transform: translateY(-2px);
    right: 4rs;
    z-index: 4;
  }

  .moment {
    display: block;
    color: var(--color-primary);
    font-preset: button;
    padding: 1rs 4rs 1rs 4rs;
  }

  .prayer {
    flex: 0 0 100vw;
    height: calc(100% - 64px);
    overflow-y: auto;
    scroll-snap-align: start;
    margin-bottom: 6rs;
    scrollbar-width: none;

    .header {
      position: sticky;
      top: 0;
      background: var(--color-secondary);
      padding: 0 4rs 2rs;
    }

    .inner {
      padding: 0 4rs;
    }

    prayer-icon {
      transform: translateY(3px);
      width: 20px;
      margin-right: 4px;
      margin-bottom: -1rs;

      * {
        fill: var(--color-primary);
      }
    }

    .category {
      color: var(--color-primary);
      font-preset: button;
      margin-right: 2rs;
      display: inline-flex;
    }

    .title {
      clear: both;
      font-preset: header3;
    }

    .author {
      display: block;
      font-preset: author;
      color: var(--color-primary);

      prayer-icon {
        transform: translateY(5px);
      }
    }

    .amen {
      display: block;
      font-preset: author;
      padding-bottom: 3rs;
    }

    .meta {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    flex: 1 1 100%;

    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
  }
}