prayer-main-menu.page {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-panel);
  position: relative;
  padding-top: 4rs;

  .logo-wrapper {
    margin-bottom: 5rs;
  }

  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0rs 2rs 0rs 2rs;
    position: relative;
    border-radius: var(--border-radius);
    margin-bottom: 1rs;
    background: var(--color-secondary);
    transition: all var(--speed) var(--easing);

    prayer-icon {
      position: absolute;
      margin-right: 2rs;
      width: 3rs;
      top: 50%;
      transform: translateY(-50%) translateY(1px);

      * {
        transition: all var(--speed) var(--easing);
      }
    }

    .title {
      font-preset: header2;
      margin-left: 4.5rs;
      padding-bottom: 1rs;
    }

    &:last-child {
      margin-bottom: 10rs;
      border-bottom: 0;
    }

    &:hover {
      color: white;
      background: var(--color-primary);

      prayer-icon {
        * {
          fill: white;
        }
      }
    }
  }
}