prayer-pray {
  .prayer {
    margin-bottom: 6rs;

    .category {
      opacity: .5;
      font-preset: button;
    }

    .title {
      font-preset: header3;
    }

    .author {
      display: block;
      width: 100%;
      font-preset: author;
    }

    .amen {
      display: block;
      font-preset: author;
    }
  }
}