prayer-home {
  display: flex;
  flex-direction: column;

  > .prefix {
    font-preset: header2;
    display: block;
    margin-bottom: 1rs;
  }

  > .title {
    font-preset: header3;
    margin-bottom: 2rs;
  }
}

@include tablet {
  prayer-home {
    .logo-wrapper {
      margin-top: 4rs;
    }
  }
}