remote-storage-widget {
  [data-online="false"] img {
    filter: grayscale(1);
  }

  .is-syncing .rs-loop-icon {
    animation: rs-spin 1s linear infinite;
  }

  @keyframes rs-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .rs-main-logo {
    margin-top: 1rs;
    height: 4rs;
    display: block;
    float: left;
    margin-right: 2rs;
    margin-left: 1rs;
  }

  .title {
    font-preset: header2;
  }

  .description {
    margin-bottom: 2rs;
  }

  form {
    margin-bottom: 2rs;
    display: block;
  }

  .buttons {
    display: block;
    height: 5rs;
  }

  .connected {
    display: flex;
    padding: 1rs;
    border-radius: 8px;
    background: var(--color-secondary);

    .title {
      margin-bottom: -1rs;
    }

    .description {
      margin-bottom: 0;
    }

    .rs-connected-buttons {
      margin-top: 1rs;
      margin-left: auto;
    }
  }
}
