remote-storage-widget {
  [data-online="false"] img {
    filter: grayscale(1);
  }

  .is-syncing .rs-loop-icon {
    animation: rs-spin 1s linear infinite;
  }

  @keyframes rs-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .rs-main-logo {
    height: 4rs;
    border-radius: 8px;
    display: block;
    float: left;
    margin-right: 1rs;
  }

  .title {
    font-preset: title;
  }

  .description {
    margin-bottom: 1rs;
    transform: translateY(-.3rs);
  }

  form {
    margin-bottom: 2rs;
    display: block;
  }

  .buttons {
    display: block;
    height: 5rs;
    margin-top: 2rs;
  }

  .connected {
    display: flex;
    flex-wrap: wrap;
    padding: 1rs;
    padding-bottom: 0;
    border-radius: 8px;
    justify-content: flex-start;
    background: var(--color-secondary);

    .title {
      margin-bottom: -1rs;
    }

    .rs-connected-text {
      margin-right: auto;
      padding-right: 2rs;
    }

    .rs-connected-buttons {
    }

    .description {
      margin-bottom: 0;
    }
  }
}
