.sortable {
  & > * {
    cursor: move;

    &.active {
      background: var(--color-primary);
    }

    &.dragging {
      background: #e0ffff;
      box-shadow: 0 4px 20px rgba(0,0,0,0.5);
      opacity: 0.5;
    }
  }

  .drag-ghost {
    opacity: .9;
  }
}
