.sortable {
  & > * {
    display: block;
    margin: 1px;
    padding: 10px;
    border-radius: 4px;
    cursor: move;
    background: #fff;

    &:hover {
      background: #ffffe0;
    }
    &.active {
      background: #ccc;
    }
    &.dragging {
      background: #e0ffff;
      box-shadow: 0 4px 20px rgba(0,0,0,0.5);
      opacity: 0.5;
    }
  }
}