html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  color: var(--color-black);
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*:after, *:before, * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: none;
}

* {
  -webkit-tap-highlight-color: transparent;

  &:not(input):not(textarea) {
    user-select: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

a:link:not(.button),
a:visited:not(.button) {
  color: var(--color-tertiary);
}

p {
  font-preset: paragraphs;
}

#__bs_notify__ {
  display: none;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2");
}
